.Login {
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login form {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}