.users {
    min-height: 550px;
}

.users > div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 30px 4px;
    margin: 10px;
}

.users div > div {
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    text-align: start;
    padding: 8px;
    background-color: rgb(175, 174, 174)
}