* {
    margin: 0;
    padding: 0;
}

header {
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}


header a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover {
    text-decoration: underline;
}

ul li {
    display: inline;
    margin-left: 25px;
}

ul li a {
    font-size: 15px;
}

/* ---- Galeria ---- */

img {
    max-width: 100%;
}

.galery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.galery > div {
    margin: 10px;
    flex: 1 1 300px;
    font-size: 20px;
}

main {
    text-align: center;
    padding: 20px 0;
}

main > h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT VIDEO */

.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    font-size: 20px;
    margin: 20px 0;
}

.container p:hover {
    text-decoration: underline;
}

body h1 {
    text-align: center;
    margin: 20px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ---- Videos Home ---- */

.page-home {
    display: flex;
    padding: 10px;
    max-width: 100%; 
    text-align: left;
}

.page-home div p {
    margin: 20px 0;
}
/* ---- Videos Lateral ----*/


.page-lateral {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    padding: 10px; 
}

.page-lateral > div {
    margin-bottom: 30px;
}

/* NOTICIAS LAYOUT */

.container-noticias {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.container-noticias img {
    max-width: 100%;
    display: block;
}

/* ---- Noticia Principal ---- */
.noticia-principal {
    display: flex;
    padding: 0 10px;
    margin: 0 10px;
}

.noticia-principal > div {
    max-width: 100%;
}

.noticia-principal img {
    width: 350px;
    height: 440px;
}

/* ---- Noticias Lateral ---- */
.noticias-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.noticias-lateral > div {
    margin-bottom: 54px;
    width: 350px;
    height: 190px;
}


.noticias-lateral p, .noticia-principal p {
    border: 2px solid black;
    background-color: #2C2C2C;
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 0 10px;
}

.container-noticias p:hover {
    text-decoration: underline;
}