* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 60px auto;
}

.mytodolist {
    height: 100%;
    height: 200px;
    border: 1px solid black;
}

.headerlist {
    background-color: rgb(79, 150, 243);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78%;
}

.caixainput {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    width: 100%;
}

.caixainput form > input {
    width: 400px;
    margin-right: 50px;
}

.caixainput form > i {
    font-size: 20px;
    color: blue;
}

.caixainput form > i:hover {
    transform: scale(1.4);
}


.button-input {
    border: none;
    border-radius: 100%;
    padding: 6px 10px;
    background-color: rgb(87, 148, 240);
    color: white;
}

.button-input:hover {
    transform: scale(1.4);
}


.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.lista > h3 {
    margin: 20px 0;
}

.elementodalista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    border: 1px solid black;
    padding: 14px;
    margin-top: 10px;
}

.mudacor {
    background-color: green;
}

.lista button {
    background: none;
    border: none;
}

.fa-solid:hover {
    transform: scale(1.4);
}