
.Address form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Address form div {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 300px;
    margin: 10px 0;
}

